# Do not ignore these files


# Ignore the rest of the files in the 'tmp' folder
/tmp/*
!./tmp/blockchain_localhost:5001.data/*
!./tmp/wallet_localhost:5001.data
*.data
go.mod
go.sum
Blocker 
server/blockchain_service.pb.go
e-wallet/node_modules
e-wallet/package-lock.json
.env 
.cache.json
node_modules
server/blockchain_service.pb.go
server/blockchain_service_grpc.pb.go
server/command_service.pb.go
server/command_service_grpc.pb.go
public/test.html
public/test.js
package-lock.json
