# ignore the tmp directory
./tmp
# ignore eveything inside ./tmp 
./tmp/*
tmp 
*.data
go.mod
go.sum
Blocker 
server/blockchain_service.pb.go
e-wallet/node_modules
e-wallet/package-lock.json
.env 
.cache.json

